# Frontend (Comma-separated list of allowed frontend origins (CORS configuration))
FRONTEND_BASE_URL=

# Server
PORT=

# Database(MongoDB connection string (local or Atlas))
MONGO_URI=

# Redis
REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=
REDIS_USERNAME=

#Redis BullMQ
REDIS_URL=
REDIS_QUEUE_NAME=

# Email (SMTP)
SMTP_PASSWORD=
SMTP_EMAIL=
SMTP_HOST=
SMTP_PORT=

# Authentication
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

# Cloud Storage
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
REDIRECT_URI=
# Security
SALT_ROUNDS=

# Payments
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# Token Configuration
ACCESS_TOKEN_COOKIE_MAX_AGE=
REFRESH_TOKEN_COOKIE_MAX_AGE=
ACCESS_TOKEN_EXPIRY=
REFRESH_TOKEN_EXPIRY=
